body {
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    text-align: center;
    color: white;
}

form {
    background: white;
    color: black;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
}

input, select, button {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
}
